--extra-index-url https://download.pytorch.org/whl/cu129
torch
torchvision
torchaudio
openai-whisper==20250625
setuptools-rust
yt-dlp
whisper-ctranslate2~=0.5.4
nicegui~=3.0
faster-whisper
typing-extensions
asyncio
